Repository khaledOghli/next-15-arcgis-tailwind4: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc --noEmit

.lintstagedrc:

{
  "*.css": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.scss": ["prettier --write"],
  "*.yaml": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write", "tsc --noEmit"]
}

fix
  .husky/commit-msg
  .vscode/settings.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  tsconfig.json
Due: prettier --write, eslint --fix, tsc --noEmit

add pre commit
  .husky/pre-commit
Due: none

fix(package.json and commitlint): add module in package.json
  package.json
Due: prettier --write

fix typo
  src/app/page.tsx
Due: prettier --write, eslint --fix, tsc --noEmit

fix package
  package.json
Due: prettier --write

add packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

change pre
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix(commitlint): fix pre-commit and commit-msg
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
  package.json
Due: prettier --write

fix(package): fix package commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(lintstage): re back
  .husky/pre-commit
Due: none

update
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.ts
  src/components/maps/map.tsx
  src/types/global.d.ts
  tsconfig.json
  tsconfig.lint.json
Due: prettier --write, eslint --fix, tsc --noEmit

updated colors
  src/app/page.tsx
  src/components/layout/app-sidebar.tsx
  src/components/layout/nav-main.tsx
  src/components/layout/nav-user.tsx
  src/components/layout/site-header.tsx
  src/components/ui/avatar.tsx
  src/components/ui/button.tsx
  src/components/ui/input.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-mobile.ts
  src/styles/arcgis.colors.css
  src/styles/globals.css
Due: prettier --write, eslint --fix, tsc --noEmit

update stylelint
  .lintstagedrc
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/styles/arcgis.colors.css
  src/styles/globals.css
  stylelint.config.cjs
Due: prettier --write

update extionsion
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

feat(README): Update Add ReadMe file
  .gitignore
  README2.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

updated README file
  README.md
  README2.md
Due: prettier --write

updated
  README.md
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

updated
  package.json
  pnpm-lock.yaml
  public/assets/images/dh-logo-white.svg
  public/assets/images/dm-logo-white.svg
  public/assets/images/gov-logo-white.svg
  src/app/page.tsx
  src/components/layout/fluid-sidebar/nav-user.tsx
  src/components/layout/fluid-sidebar/page-header.tsx
  src/components/layout/fluid-sidebar/sidebar.tsx
  src/components/layout/site-header.tsx
  src/components/map-layers-drawer.tsx
  src/components/map-layers-panel.tsx
  src/components/maps/MapView.tsx
  src/components/maps/map.tsx
  src/components/mode-toggle.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/label.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/switch.tsx
  src/components/view-mode-toggle.tsx
  src/lib/sidebar-config.ts
  src/styles/globals.css
Due: prettier --write, eslint --fix, tsc --noEmit

add zustand
  package.json
  pnpm-lock.yaml
  src/components/map-layers-drawer.tsx
  src/components/mode-toggle.tsx
  src/providers/map-store-provider.tsx
  src/providers/providers.tsx
  src/stores/map-store.ts
  tsconfig.json
Due: prettier --write, eslint --fix, tsc --noEmit
